<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.dezyne.meetup">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http"
                    android:host="www.example.com"
                    android:pathPrefix="/meetup" />
                <!-- note that the leading "/" is required for pathPrefix-->
                <!-- Accepts URIs that begin with "example://gizmos” -->

            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:label="Hello, Again">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SplashActivity" />
        </activity>
        <activity android:name=".MainScreen">

        </activity>

        <activity android:name=".FabOnClickActivity"
            android:label="Search city">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>

        <activity android:name=".Profile_Activity"
            android:theme = "@style/NoActionBar">
        </activity>
        <activity android:name=".NotificationActivity"
            android:label="Updates">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainScreen" />
            </activity>

        <activity android:name=".Add_Activity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainScreen" />
        </activity>

        <activity android:name=".SignUp_Activity">

        </activity>
        <activity android:name=".Categories">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SignUp_Activity" />
        </activity>
        <activity android:name=".Forget_Password_Activity"
            android:label="Hello again!">
            <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".MainActivity" />
        </activity>
        <activity android:name=".Detail_activity1">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainScreen" />
        </activity>
        <activity android:name=".Detail_activity2">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainScreen" />
        </activity>
        <activity android:name=".Detail_activity3">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainScreen" />
        </activity>
        <activity android:name=".Detail_activity4">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainScreen" />
        </activity>
        <activity
            android:name=".Start_New_Activity"
            android:label="Topics">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Add_Activity" />
            </activity>
        <activity android:name=".Category_click_activity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Categories" />

        </activity>

    </application>

</manifest>